streamlit
langchain
openai
html2text
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
langchain-google-community
tiktoken
faiss-cpu
langchain-openai
bs4
